body {
    background-color: #202020;
}

#content {
    color: #dcddd2;
}

a {
    color: #806df0;
}



html {
    font-size: 1em;
    line-height: 1.75;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    color: #585451;
    font-family: sans-serif;
}
/* p {  background-color: gray; } */

a[href$=".pdf"]:before {
    /* PDF file */
    width: 32px;
    vertical-align: middle;
    margin: 4px 0 2px 4px;
    padding: 4px 0 1px 0px;
    background-color: #fff;
    color: red;
    border: 1px solid red;
    border-top-right-radius: 7px;
    box-shadow: 1px 1px #ccc;
    font-size: 15px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 32px;
    text-decoration: none;
    display: inline-block;
    box-sizing: content-box;
    content: 'PDF';
}

a[href$=".odt"]:before {
    width: 32px;
    vertical-align: middle;
    margin: 4px 0 2px 4px;
    padding: 4px 0 1px 0px;
    background-color: #fff;
    color: black;
    border: 1px solid black;
    border-top-right-radius: 7px;
    box-shadow: 1px 1px #ccc;
    font-size: 15px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 32px;
    text-decoration: none;
    display: inline-block;
    box-sizing: content-box;
    content: 'ODT';
}

a:not([href$=".pdf"]):not([href$=".odt"]):before {
    /* PDF file */
    width: 32px;
    vertical-align: middle;
    margin: 4px 0 2px 4px;
    padding: 4px 0 1px 0px;
    background-color: #fff;
    color: blue;
    border: 1px solid blue;
    border-top-right-radius: 7px;
    box-shadow: 1px 1px #ccc;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 32px;
    text-decoration: none;
    display: inline-block;
    box-sizing: content-box;
    content: 'e';
}
